.navBar {
  background-color: #000;
  position: fixed;
  min-width: 100%;
  opacity: 0.8;
}

.logo {
  background: url('../images/GSA-13@3x.png') no-repeat;
  display: inline-block;
  height: 80px;
  width: 140px;
  background-size: contain;
  backgound-position: center;
}

.wrapper {
  margin: 0 auto;
  padding: 0 2%;
  width: 90%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
  margin-right: 2px;
  font-size: 13px;
}
nav ul a {
  /*color: #e84545;*/
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease;
}
nav ul a:hover {
  color: #e84545;
}
nav li {
  display: inline-block;
}
nav #menu-toggle {
  display: none;
}
nav .label-toggle {
  display: none;
}
nav .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
	
  .navBar{
	  opacity: 0.8;
	  height: 18%;
  }
  
  .navBar .wrapper {
	  height: 100%;
	  padding: 0;
	  width:100%;
  }
  
  .logo {
	  margin-left: 0.5em;
  }
  nav nav ul a {
    color: #e6e5e6;
  }
  nav ul {
	  background-color: #000;
    display: block;
    list-style-type: none;
    opacity: 0;
    text-align: left;
    transition: all 0.5s ease;
    width: 100%;
    visibility: hidden;
  }
  nav li {
	background-color: #000;
    border-bottom: 2px solid #353434;
    color: #000;
    display: block;
    font-size: 1em;
    padding: 0.8em;
  }
  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    visibility: visible;
  }
  nav .label-toggle {
    background: linear-gradient(to bottom, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 20px;
    margin-top: 1em;
    width: 20px;
	margin-right: 1em;
  }
  nav .wrapper {
    display: block;
  }
}
