

@media screen and (max-width: 900px) {
  #whoarewe-container {
      width: 100%;
	  z-index: 1;
	  background-color: #B0B1B5;
	  display:flex;
	  
	  align-items: center;
	  justify-content: center;
	  padding:0;
  }
  
  #whoarewe-container .section-content-container, #services-container .section-content-container{
	height: 100%;
    width: 100%;
    z-index: 99;
    background: #FFF;
    display: flex;
    flex-flow: column;
    text-align: left;

  }
  
  #whoarewe-container .section-content-container .padded-container{
	display: flex;
	flex-direction: column;
	padding: 0;
	padding-top:40px;
  }
  
  
  #whoarewe-container .section-content-container .padded-container .left-section{
	display: flex;
	flex-direction: column;
	flex: 1 1 35%;
	align-items: center;
  }
  
  #whoarewe-container .section-content-container .padded-container .right-section {
	  flex: 0 0 65%;
	height: 100%;
	text-align: center !important;
	justify-content: center;
	align-items : center;
  }
  
  #section-services{
	  display: flex;
	  flex-direction: column;
  }
  
  #services-container {
	  display : flex;
	  flex-direction: column;
  }
  
  #services-container .section-content-container {
	  display : flex;
	  flex-direction: column;
  }
 
 #services-container .section-content-container .services-container {
	  display : flex;
  }
  
  #section-projects {
	  margin-top: 50px;
  }
  
  
  
  #services-container .services-list,  #reviews-container .customer-list {
	padding: 0;
	padding-top: 50px;
	display: flex;
    flex-flow: column;
    width:100%;
    justify-content: center;
    align-items: center;
  }
  
  .services-list .item, .customer-list .item {
    border: 1px solid lightgray;
    border-radius: 10px;
    width:80%;
    margin-top:40px;
    margin-bottom: 40px;
    margin-left:10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }

  .services-list .item .service-content .service-photo.painting , .services-list .item .service-content .service-photo.flooring,
  .services-list .item .service-content .service-photo.kitchenbath, .services-list .item .service-content .service-photo.interior
  {
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  height: 220px;
  }
  
  #section-contact {
	  display:flex;
	  flex-direction:column;
  }
  
  #contactus-container {
	  height: 20%;
	  display: flex;
  }
  
  #contactus-container .section-content-container {
	 background-color: #262626;
     display: flex;
     flex-direction: column;  
  }
  
  #contactus-container .section-content-container .location {
	  flex: 1;
  }
  
  #contactus-container .section-content-container .location div {
	font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  #contactus-container .section-content-container .contactUs {
	  flex: 1;
  }
  
  #section-title-services .title, #section-title-reviews .title {
	  height: 90px;
  }
  
  /*.bx-wrapper ul li a img{ height: 60px; width: 120px; }*/
  
  #section-projects {
	  display:flex;
	  flex-direction: column;
	  padding-top: 80px;
  }
  
  #section-reviews {
	  display: flex;
	  flex-direction: column;
  }
  
  #reviews-container {
	  display:flex;
	  flex-direction: column;
  }
  
  .contact-panel {
	display: flex !important;
	flex-direction: column !important;
	background-color: #000;
}

#contactus-container .section-content-container .contactUs div {
	justify-content : left;
}
  

}